.container {
    background: url('../../assets/images/image2.jpg') no-repeat center;
    background-size: cover;
    min-height: 90vh;
    width: 100%;
  }

.welcome {
  text-align: center;
  list-style: none;
  padding-top: 10%;
  font-size: 2rem;
}

h1 {
  margin-bottom: 15%;
}



